* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 62.5%;

  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --background-primary: #14151d;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9882fa;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --ff-inter-tight: "Inter Tight", sans-serif;
  --ff-inter: "Inter", sans-serif;

  --title: 700 2.4rem/3.2 var(--ff-inter-tight);
  --paragraph-medium: 500 1.4rem/2.4 var(--ff-inter);
  --paragraph-small: 500 1.2rem/1.6 var(--ff-inter);
  --label-large: 700 1.6rem/2.4 var(--ff-inter);
  --label-medium: 700 1.4rem/2.4 var(--ff-inter);
  --label-small: 700 1.2rem/1.6 var(--ff-inter);
  --link: 500 1.2rem/1.6 var(--ff-inter);
}

body {
  background: var(--background-primary);
  color: var(--content-primary);
}

.Logo {
  width: 15rem;
  height: 4.4rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-primary);
  border-bottom-right-radius: 1rem;

  img {
    width: 11rem;
    height: 2.4rem;
  }
}

.NewAppointment {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 0;

  button {
    width: 21rem;
    height: 4.4rem;
    border: none;
    border-radius: 1rem;
    font: var(--label-large);
    background: var(--content-brand);
    color: var(--background-primary);
    filter: drop-shadow(0 0 3rem #9282FA50);
  }
}
