* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 62.5%;

  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;
  --content-brand-hover: #bdb4fa;

  --background-primary: #14151d;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9882fa;
  --border-divisor: #353339;

  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  --ff-inter-tight: "Inter Tight", sans-serif;
  --ff-inter: "Inter", sans-serif;

  --title: 700 2.4rem/1.2 var(--ff-inter-tight);
  --paragraph-medium: 500 1.4rem/1.6 var(--ff-inter);
  --paragraph-small: 400 1.2rem/1.6 var(--ff-inter);
  --label-large: 700 1.4rem/1.6 var(--ff-inter);
  --label-medium: 500 1.2rem/1.6 var(--ff-inter);
  --label-small: 400 1.2rem/1.6 var(--ff-inter);
  --link: 500 1.2rem/1.6 var(--ff-inter);
}

body {
  background: var(--background-primary);
  color: var(--content-primary);
}

.Logo {
  width: 15rem;
  height: 4.4rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-primary);
  border-bottom-right-radius: 1rem;

  img {
    width: 11rem;
    height: 2.4rem;
  }
}

.newAppointment {
  width: 21rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 0;
}

h1 {
  font: var(--title);
}

h3 {
  font: var(--label-large);
}

p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
}

fieldset {
  border: none;
}

label {
  font: var(--label-medium);
}

@media (max-width: 390px) {
  .newAppointment {
    background: var(--background-tertiary);
    width: 100%;
    height: 8.4rem;
    padding: 1.8rem 2rem;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    z-index: 0;
  }
}
