input,
textarea {
  height: 4rem;
  padding: 1.2rem;

  font: var(--paragraph-medium);
  background: transparent;
  color: var(--content-secondary);

  border: solid 1px var(--border-primary);
  border-radius: 0.8rem;
}

input:hover,
textarea:hover {
  border: solid 1px var(--border-secondary);
}

input:focus,
textarea:focus {
  border: solid 1px var(--border-brand);
  outline: none;
}

textarea {
  width: 100%;
  height: 8.4rem;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding-left: 2.8rem;
}

input[type="date"],
input[type="time"] {
  position: relative;
  text-align: left;
 padding-inline-start: 3.2rem ;

  &::after {
    content: "";
    position: absolute;
    left: 1rem;
    width: 2rem;
    height: 2rem;

    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    user-select: none;

    top: 50%;
    transform: translateY(-50%);
  }
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::after {
    background: url(../../assets/calendar.svg);
  }

  &::before {
    background: url(../../assets/correct.svg);
  }
}

input[type="time"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::after {
    background: url(../../assets/time.svg);
  }

  &::before {
    background: url(../../assets/correct.svg);
  }
}
